<form [formGroup]="otherItemForm">

  <h1 mat-dialog-title>Objet</h1>

  <mat-dialog-content fxLayout="row wrap">
    <mat-form-field fxFlex
                    fxFlex.xs="100">
      <input matInput
             formControlName="name"
             placeholder="Nom de l'objet"
             required>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <textarea matInput
                formControlName="special"
                placeholder="Spécial"
                matTextareaAutosize></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row wrap">
    <div fxFlex="100"
         fxLayoutAlign="end">
      <button *ngIf="otherItem"
              mat-button
              color="warn"
              [mat-dialog-close]="-1">
        <mat-icon>delete</mat-icon>
        Supprimer
      </button>
      <button mat-button
              color="primary"
              [mat-dialog-close]="otherItemForm.getRawValue()"
              [disabled]="otherItemForm.invalid">
        <mat-icon>save</mat-icon>
        Enregistrer
      </button>
    </div>
  </mat-dialog-actions>

</form>
