<mat-grid-list [cols]="cols"
               rowHeight="2:1"
               gutterSize="10px"
               class="actions">
  <mat-grid-tile *ngFor="let action of actions; let i = index"
                 class="action">
    <mat-grid-tile-header fxLayout="row">
      <div fxFlex
           fxLayout="row wrap">
        <div fxFlex="100"
             class="action_name">{{action.name}}</div>
        <div fxFlex="100"
             class="action_type">{{action.type}}</div>
      </div>

      <button mat-icon-button
              (click)="openActionEditionDialog(action, i)"
              class="action_menu">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-grid-tile-header>

    <div fxLayout="row wrap">

      <div fxFlex="100"
           class="action_effect">{{action.effect}}</div>
    </div>

    <mat-grid-tile-footer fxLayout="row">
      <div matBadge="{{ action.level }}"
           matTooltip="Niveau"
           class="action_level"></div>
      <div fxFlex></div>
      <div matBadge="{{ action.cooldown }}"
           matTooltip="Délai"
           class="action_cooldown"></div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<div fxLayout="row wrap">
  <div fxFlex="100"
       fxLayoutAlign="end">
    <button mat-raised-button
            type="submit"
            color="primary"
            (click)="openActionCreationDialog()">
      <mat-icon>add</mat-icon>
      Créer une action
    </button>
  </div>
</div>
