<form [formGroup]="createPlayerForm"
      (ngSubmit)="createPlayer()"
      fxLayout="row wrap"
      fxLayoutAlign="">
  <mat-form-field fxFlex="60"
                  fxFlex.xs="100">
    <input matInput
           placeholder="Nom du personnage"
           formControlName="name"
           required>
  </mat-form-field>
  <mat-form-field fxFlex="40"
                  fxFlex.xs="100">
    <mat-select formControlName="race"
                placeholder="Race"
                required>
      <mat-option *ngFor="let race of races | keyvalue | sort:'value'"
                  [value]="race.key">{{ race.value }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div fxFlex="100"
       fxLayoutAlign="end">
    <button mat-raised-button
            type="submit"
            color="primary"
            [disabled]="createPlayerForm.invalid">
      <mat-icon>person_add</mat-icon>
      Créer
    </button>
  </div>
</form>
