<form [formGroup]="createPlayerForm"
      (ngSubmit)="createPlayer()"
      fxLayout="row">
  <mat-form-field fxFlex="80">
    <input matInput
           placeholder="Name"
           formControlName="name">
  </mat-form-field>

  <div fxFlex>
    <button mat-button
            type="submit"
            color="primary"
            [disabled]="createPlayerForm.invalid"
            fxFlex>Submit
    </button>
  </div>
</form>

<mat-list>
  <mat-list-item *ngFor="let player of players$ | async">{{ player.name }}</mat-list-item>
</mat-list>
