<form [formGroup]="playerForm">

  <div fxLayout="row wrap">
    <mat-form-field fxFlex="30"
                    fxFlex.xs="75">
      <input matInput
             placeholder="Nom du personnage"
             formControlName="name">
    </mat-form-field>

    <mat-form-field fxFlex="10"
                    fxFlex.xs="25">
      <input matInput
             placeholder="Niveau"
             formControlName="level"
             type="number"
             min="1">
    </mat-form-field>

    <mat-form-field fxFlex="20"
                    fxFlex.xs="100">
      <mat-select formControlName="race"
                  placeholder="Race"
                  required>
        <mat-option *ngFor="let race of races | keyvalue | sort:'value'"
                    [value]="race.key">{{ race.value }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex="30"
         fxFlex.xs="48"
         fxLayout="row wrap">
      <dd-characteristic-control [characteristicControl]="playerForm.get('characteristics').get('strength')"
                                 placeholder="Force"
                                 fxFlex="100"></dd-characteristic-control>
      <dd-characteristic-control [characteristicControl]="playerForm.get('characteristics').get('dexterity')"
                                 placeholder="Dextérité"
                                 fxFlex="100"></dd-characteristic-control>
      <dd-characteristic-control [characteristicControl]="playerForm.get('characteristics').get('constitution')"
                                 placeholder="Constitution"
                                 fxFlex="100"></dd-characteristic-control>
    </div>

    <div fxFlex.xs="4"></div>

    <div fxFlex="30"
         fxFlex.xs="48"
         fxLayout="row wrap">
      <dd-characteristic-control [characteristicControl]="playerForm.get('characteristics').get('intelligence')"
                                 placeholder="Intelligence"
                                 fxFlex="100"></dd-characteristic-control>
      <dd-characteristic-control [characteristicControl]="playerForm.get('characteristics').get('wisdom')"
                                 placeholder="Sagesse"
                                 fxFlex="100"></dd-characteristic-control>
      <dd-characteristic-control [characteristicControl]="playerForm.get('characteristics').get('charisma')"
                                 placeholder="Charisme"
                                 fxFlex="100"></dd-characteristic-control>
    </div>
  </div>

</form>
