<form [formGroup]="playerForm"
      fxLayout="row wrap">
  <mat-form-field fxFlex="60"
                  fxFlex.xs="100">
    <input matInput
           placeholder="Nom du personnage"
           formControlName="name">
  </mat-form-field>

  <div fxFlex="50"
       fxLayout="row wrap">
    <dd-characteristic-control [characteristicControl]="playerForm.get('strength')"
                               fxFlex="100"></dd-characteristic-control>
    <dd-characteristic-control [characteristicControl]="playerForm.get('dexterity')"
                               fxFlex="100"></dd-characteristic-control>
    <dd-characteristic-control [characteristicControl]="playerForm.get('constitution')"
                               fxFlex="100"></dd-characteristic-control>
  </div>

  <div fxFlex="50"
       fxLayout="row wrap">
    <dd-characteristic-control [characteristicControl]="playerForm.get('intelligence')"
                               fxFlex="100"></dd-characteristic-control>
    <dd-characteristic-control [characteristicControl]="playerForm.get('wisdom')"
                               fxFlex="100"></dd-characteristic-control>
    <dd-characteristic-control [characteristicControl]="playerForm.get('charisma')"
                               fxFlex="100"></dd-characteristic-control>
  </div>
</form>
