<!--suppress HtmlUnknownAnchorTarget -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="isHandset ? 'dialog' : 'navigation'"
               [mode]="isHandset ? 'over' : 'side'"
               [opened]="!isHandset">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/"
         routerLinkActive="active"
         mat-list-item
         (click)="closeDrawer()">Accueil</a>
      <a routerLink="/create-player"
         routerLinkActive="active"
         mat-list-item
         (click)="closeDrawer()">Créer un personnage</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isHandset"
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      {{ toolbarTitle$ | async }}
    </mat-toolbar>

    <div class="page_content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
