.mat-sidenav-container {
  height: 100%;

  .mat-drawer-side, .mat-drawer-over {
    border-right: 0;
    width: 256px;
  }

  .page_content {
    @media (max-device-width: 480px) {
      padding: 10px 16px;
    }
    @media (min-device-width: 481px) {
      padding: 10px 32px;
    }
  }
}

.toolbar_title {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.roll {
  &_form-field {
    margin-left: 10px;
    width: 50%;
  }
}
