<form [formGroup]="weaponForm">

  <h1 mat-dialog-title>Créer une arme</h1>

  <mat-dialog-content fxLayout="row wrap">
    <mat-form-field fxFlex
                    fxFlex.xs="100">
      <input matInput
             formControlName="name"
             placeholder="Nom de l'arme"
             required>
    </mat-form-field>

    <mat-form-field fxFlex
                    fxFlex.xs="100">
      <mat-select formControlName="range"
                  placeholder="Portée"
                  required>
        <mat-option *ngFor="let range of weaponRanges | enumKeyValue"
                    [value]="range.key">{{ range.value }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex
                    fxFlex.xs="50">
      <input matInput
             formControlName="touch"
             placeholder="Toucher"
             type="number"
             min="0"
             required>
    </mat-form-field>

    <mat-form-field fxFlex
                    fxFlex.xs="50">
      <input matInput
             formControlName="damage"
             placeholder="Dégâts"
             type="number"
             min="0"
             required>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <textarea matInput
                formControlName="special"
                placeholder="Spécial"
                matTextareaAutosize></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row wrap">
    <div fxFlex="100"
         fxLayoutAlign="end">
      <button *ngIf="weapon"
              mat-button
              color="warn"
              [mat-dialog-close]="-1">
        <mat-icon>delete</mat-icon>
        Supprimer
      </button>
      <button mat-button
              color="primary"
              [mat-dialog-close]="weaponForm.getRawValue()"
              [disabled]="weaponForm.invalid">
        <mat-icon>save</mat-icon>
        Enregistrer
      </button>
    </div>
  </mat-dialog-actions>

</form>
