<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>Armes</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!--  CONTENT -->
  <ng-template matExpansionPanelContent>

  </ng-template>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>Armures et Bijoux</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!--  CONTENT -->
  <ng-template matExpansionPanelContent>

  </ng-template>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>Consommables</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!--  CONTENT -->
  <ng-template matExpansionPanelContent>

  </ng-template>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>Autre</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <!--  CONTENT -->
  <ng-template matExpansionPanelContent>

  </ng-template>
</mat-expansion-panel>
