<ng-container *ngIf="(player$ | async) as player">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Armes</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <dd-player-inventory-weapons [weapons]="player.weapons"
                                   [player]="player"
                                   (update)="updatePlayerWeapons($event)"></dd-player-inventory-weapons>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Équipements</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <dd-player-inventory-equipments [equipments]="player.equipments"
                                      (update)="updatePlayerEquipments($event)"></dd-player-inventory-equipments>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Consommables</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <dd-player-inventory-expandables [expandables]="player.expandables"
                                       (update)="updatePlayerExpandables($event)"></dd-player-inventory-expandables>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Autre</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <dd-player-inventory-otheritems [otherItems]="player.otherItems"
                                      (update)="updatePlayerOtherItems($event)"></dd-player-inventory-otheritems>
    </ng-template>
  </mat-expansion-panel>

</ng-container>
