.mat-form-field {
  padding-right: 20px;
}

.mat-button {
  margin-left: 15px !important;
}

.mat-tab-header {
  margin-bottom: 10px;
}

*:focus {
  outline: none !important;
}

.mat-snack-bar-container {
  &.snack-bar-success {
    //background-color: $color-success;
  }

  &.snack-bar-error {
    //background-color: $color-error;
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-body {
    @media (max-device-width: 480px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
