@import 'variables';

.mat-form-field {
  padding-right: 20px;
}

.mat-button {
  margin-left: 15px !important;
}

.mat-tab-header {
  margin-bottom: 10px;
}

*:focus {
  outline: none !important;
}

.mat-snack-bar-container {
  color: white;

  &.snack-bar-success {
    background-color: $dd-success;
  }

  &.snack-bar-error {
    background-color: $dd-error;
  }

  .mat-simple-snackbar-action {
    .mat-button-wrapper {
      font-weight: bold;
    }
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-body {
    @media (max-device-width: 480px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// region BADGE

.characteristic-modifier.positive {
  .mat-badge-content {
    background-color: $dd-success;
  }
}

.characteristic-modifier.negative {
  .mat-badge-content {
    background-color: $dd-error;
  }
}

// endregion
