//noinspection CssUnknownTarget
@import '~app/dungeon-dragons-client/src/styles/variables';

.characteristic {
  &_saving-throw {
    margin-top: 20px;
    margin-right: 10px;
    height: min-content;
  }

  &_modifier {
    right: 15px;
    top: 30px;
  }
}
